
a:link		{ color: #4fa4cc; }
a:hover		{ text-decoration: underline; color: #4fa4cc; }
a:visited	{ color: #296480; }
a:active	{ font-weight: bold; color: #4fa4cc; }

body {
	line-height: 180%;
}

div.content {
	position:absolute;
	width:800px;
	margin-left: -400px;
	left: 50%;
}

h1 {
	text-align: center;
	font-variant: small-caps;
	color: #f4b318;
}

h2 {
	font-variant: small-caps;
	color: #f4b318;
}

span.emph {
	color: #4fa4cc;
	font-weight: bold;
	font-size: 150%;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

p.error {
	color: red;
	font-weight: bold;
	font-size: 150%;
}

p.center {
	text-align: center;
}

.box {
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 20px;
	outline: 2px solid #f4b318;
	background: white;
	color: black;
	font-weight: bold;
}

.huge {
	font-size: 400%;
}

.large {
	font-size: 250%;
}

.spacer {
	margin: 70px auto;
}

a.button {
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 10px;
	background: #f4b318;
	color: white;
	font-size: 150%;
	font-weight: bold;
	text-align: center;
}

a.button { text-decoration: none; color: white; } 

.tabs input[type=radio] {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

.tabs {
	width: 99%;
	float: none;
	list-style: none;
	position: relative;
	padding: 0;
	margin: 0px;
}

.tabs li {
	float: left;
	background: white;
	outline: 1px solid black;
}

.tabs label.tab {
	display: block;
	padding: 10px 20px;
	border-radius: 2px 2px 0 0;
	color: black;
	font-size: 24px;
	font-weight: normal;
	font-family: sans;
	background: white;
	cursor: pointer;
	position: relative;
	top: 0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.tabs label.tab:hover {
	background: silver;
	top: 0;
}
      
[id^=tab]:checked + label.tab {
	background: black;
	color: white;
	top: 0;
}
      
[id^=tab]:checked ~ [id^=tab-content] {
	display: block;
}

.tab-content {
	z-index: 2;
	display: none;
	text-align: left;
	width: 90%;
	line-height: 140%;
	padding-top: 10px;
	background: white;
	padding: 15px;
	color: black;
	position: absolute;
	top: 53px;
	left: 0;
	outline: 1px solid black;
	box-sizing: border-box;
	-webkit-animation-duration: 0.5s;
	-o-animation-duration: 0.5s;
	-moz-animation-duration: 0.5s;
	animation-duration: 0.5s;
}

.field {	
	margin: 20px auto;
}

.field > input {
	font-size: 150%;
}

input, textarea {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	padding: 3px 0px 3px 3px;
	border: 1px solid #DDDDDD;
}
 
input[type=text]:focus, textarea:focus {
	box-shadow: 0 0 5px #f4b318;
	padding: 3px 0px 3px 3px;
	border: 1px solid #f4b318;
}
